<div class="dashboard">
    <div class="row">
        <div class="col col-12">
            <app-nan-bar></app-nan-bar>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <div class="row">
                <section class="container-fluid d-flex justify-content-center align-items-center">
                    <aside>
                        <div class="p-4 text-center">
                            <h1>Change Password</h1>
                            <!-- <div *ngIf="logMsg" class="alert text-center" [ngClass]="logMsg.alert" role="alert">
                                {{logMsg.msg}}
                            </div> -->
                            <form [formGroup]="frm" (submit)="logOnSubmit()" autocomplete="off">
                                <input type="password" placeholder="Password" formControlName="password"
                                    [ngClass]="{'hasError': this.frm.get('password')?.dirty && frm.get('password')?.hasError('required')}" />
                                <div class="alert alert-danger inputMsg" role="alert"
                                    *ngIf="this.frm.get('password')?.dirty && frm.get('password')?.hasError('required')">
                                    <div>Please mention your password</div>
                                </div>
                                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                                    [ngClass]="{'hasError': this.frm.get('confirmPassword')?.dirty && frm.get('confirmPassword')?.hasError('required')}" />
                                <div class="alert alert-danger inputMsg" role="alert"
                                    *ngIf="this.frm.get('confirmPassword')?.dirty && frm.get('confirmPassword')?.hasError('required')">
                                    <div>Please mention your Confirm Password</div>
                                </div>
                                <div class="alert alert-danger inputMsg" role="alert" *ngIf="!isPasswordSame()">
                                    <div>Confirm Password' and 'Password' do not match.</div>
                                </div>
                                <button type="submit" [disabled]="disabledSavebtn()">Save
                                </button>
                            </form>
                            <hr />
                        </div>
                    </aside>
                </section>
            </div>
        </div>
    </div>
</div>